
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


*{
  margin: 0;
  padding 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Pattaya', 'sans-serif';
  background: black;
}

body {
        background-color: white;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell,
            'Open Sans', 'Helvetica Neue', sans-serif;

    }

.container{
  height: 10vh;
  width: 100%;
}

.text{
  font-size: 25px;
  text-align: center;
  padding: 10rem
}

.main{
text-align: center;
}

.social img{
  text-align: center;
margin: 5px;

}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */

    .text{
      font-size: 50px;
      text-align: center;
      padding: 13rem;
    }
    .main{
    text-align: center;
    }
    .social img{
    text-align: center;
    margin: 5px;
  height: 80px;
  width: 80px;

    }


 }

 @media only screen and (device-width: 768px) {
   /* default iPad screens */
   .text{
     font-size: 50px;
     text-align: center;
     padding: 13rem;
   }
   .main{
   text-align: center;
   }
   .social img{
   text-align: center;
   margin: 5px;
 height: 90px;
 width: 90px;

   }

}

/*#video{
        position:fixed;
        z-index: -1;
}*/
