
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');


*{
  margin: 0;
  padding 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Pattaya', 'sans-serif';
  background: black;
}

body {
        background-color: white;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell,
            'Open Sans', 'Helvetica Neue', sans-serif;

    }



.text{
  z-index: 1;
  font-size: 25px;
  text-align: center;
  padding: 10rem
}

.main{
text-align: center;
}

.social img{
  text-align: center;
margin: 5px;

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  .text{
    font-size: 40px;
    text-align: center;
    padding: 10rem
  }
}

/*#video{
        position:fixed;
        z-index: -1;
}*/
